* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --glass-bg: rgba(255, 255, 255, 0.06);
  --glass-border: rgba(255, 255, 255, 0.08);
  --accent: #ff6b6b;
  --text: #eaf2ff;
}
body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section{
    background: red;
    width: 100%;
    height: 90vh;
    margin: 10px;
}